[submodule "ext/catch2"]
	path = ext/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "black-library-common"]
	path = ext/black-library-common
	url = git@github.com:Black-Library/black-library-common.git
